doctype
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(content='width=device-width, initial-scale=1.0, user-scalable=no', name='viewport')
		title Unilot
		link(rel="stylesheet" href="css/flexboxgrid.min.css" type="text/css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&amp;subset=latin-ext" rel="stylesheet")
		link(rel="stylesheet", href="css/counter.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/styles.css")

body
	#menu.slideout-menu.slideout-menu-right
		.menu-close
			span
		.row
			.col-xs-12
				ul
					li
						a(href="#") Как это работает?
					li
						a(href="#") История розыграшей
					li
						a(href="#") Мои кошельки
					li
						a(href="#") Сайт ICO

				.lng
					a(onclick="$('#lng').slideToggle('slow');" href="javascript://") Русский
						i.icon-caret-down
						img(src="img/russia.png", alt="")
					.lng__block#lng(style="display: none")
						a(href="#") English
							img(src="img/usa.png", alt="")
						a(href="#") Русский
							img(src="img/russia.png", alt="")
				.unilot
					.row
						.col-xs-5
							img(src="img/unilot.png", alt="")
							p Скачайте приложение Unilot App и будьте всегда в курсе новых лотерей
							a(href="#") App Store
								i.icon-apple
							a(href="#") Google Play
								img(src="img/GooglePlay.png", alt="")
						.col-xs-7
							img(src="img/phone.png", alt="")
				.social
					i.icon-facebook
					i.icon-paper-plane
					i.icon-reddit
					i.icon-twitter
	#panel.slideout-panel.slideout-panel-right
		.container
			.scene
				div(data-depth='0.6')
					img(src="img/parallax.png", alt="")
		.app#btn1(style='display:block')
			.app__content
				.row
					.col-xs-1.center-xs
						a(onclick="$('#btn1').slideToggle('slow');" href="javascript://").cross
							span
					.col-xs-3
						img(src="img/app-logo.png", alt="")
					.col-xs-8
						h4 Unilot блокчейн лотерея
						p Держите руку на пульсе с нашим приложением
						i.icon-star
						i.icon-star
						i.icon-star
						i.icon-star
						i.icon-star_half
					.col-xs-12.end-xs
						a(href="#").app__btn Установить
		header.header
			.container
				.row.middle-xs
					.col-sm-1.col-xs-1
						.top-line-anchor
							#sticky.sticky-element
								.sticky-anchor
								.sticky-content
									.menu-open
										a#btn(href='#menu')
											span
					.col-sm-1
						.header__lng
							a(onclick="$('#header__lng').slideToggle('slow');" href="javascript://") RU
								i.icon-caret-down
								img(src="/img/russia.png", alt="")
							.header__lng__block#header__lng(style="display: none")
								a(href="#") ENG
									img(src="/img/usa.png", alt="")
								a(href="#") RU
									img(src="/img/russia.png", alt="")
					.col-md-offset-2.col-md-3.col-sm-3.col-sm-offset-1.col-xs-10.start-sm.center-xs
						.header__logo
							a(href="index.html")
								img(src="img/logo__header.png", alt="")
					.col-md-5.end-sm.col-sm-6.col-xs-12.center-xs
						.header__btn
							a(href="#").btn.btn--lilac ICO
							a(href="#").btn Принять участие

								
								
								
								
								
		block content
		footer.footer
			.container
				.row.middle-xs
					.col-md-offset-4.col-md-2.col-sm-offset-3.col-sm-2.col-xs-12.start-sm.center-xs
						img(src="img/logo__footer.png", alt="")
					.col-md-3.col-sm-offset-1.col-sm-5.col-xs-12.start-sm.center-xs
						.row
							.col-xs-3
								i.icon-facebook
							.col-xs-3
								i.icon-paper-plane
							.col-xs-3
								i.icon-reddit
							.col-xs-3
								i.icon-twitter
							
						
					








	//- #login-form(style="display:none")
	//- 	.tabs
	//- 		ul.tabs__caption.row
	//- 			li.active.col-xs-6 Авторизация
	//- 			li.col-xs-6.col-xs-6.end-xs Регистрация
	//- 		.tabs__content.active
	//- 			.row
	//- 				.col-xs-12
	//- 					form
	//- 						h4 Введите номер Вашего телефон или электронную почту и пароль, зарегистрированный в нашем сервисе
	//- 						p Номер телефона или электронная почта
	//- 						input(type="text" name="e-mail" placeholder="Телефон или E-mail")
	//- 						p Пароль
	//- 						input(type="password" name="password" placeholder="••••••••••••")
	//- 						button Войти
	//- 		.tabs__content
	//- 			.row
	//- 				.col-xs-12
	//- 					form
	//- 						p Введите номер телефона
	//- 						input#phone(type="tel" name="phone" placeholder="+79000000000")
	//- 						button Получить СМС
	//- 						p Введите смс, полученный на Ваш телефон
	//- 						input(type="password" name="password" placeholder="Введите код")
	//- 						button Далее
	//- #policy(style="display:none")
	//- 	.tabs
	//- 		ul.tabs__caption.row
	//- 			li.col-xs-6 Авторизация
	//- 			li.active.col-xs-6.end-xs Регистрация
	//- 		.tabs__content
	//- 			.row
	//- 				.col-xs-12
	//- 					form
	//- 						h4 Введите номер Вашего телефон или электронную почту и пароль, зарегистрированный в нашем сервисе
	//- 						p Номер телефона или электронная почта
	//- 						input(type="text" name="e-mail" placeholder="Телефон или E-mail")
	//- 						p Пароль
	//- 						input(type="password" name="password" placeholder="••••••••••••")
	//- 						button Войти
	//- 		.tabs__content.active
	//- 			.row
	//- 				.col-xs-12
	//- 					form
	//- 						p Введите номер телефона
	//- 						input#phone(type="tel" name="phone" placeholder="+79000000000")
	//- 						button Получить СМС
	//- 						p Введите смс, полученный на Ваш телефон
	//- 						input(type="password" name="password" placeholder="Введите код")
	//- 						button Далее
	//- 						p Заполните данные
	//- 						input(type="text" name="name" placeholder="Имя")
	//- 						input(type="text" name="surname" placeholder="Фамилия")
	//- 						input(type="text" name="login" placeholder="Ваше имя в сети (логин)")
	//- 						input(type="email" name="e-mail" placeholder="Электронная почта")
	//- 						input(type="password" id="pass" name="password" placeholder="Пароль")
	//- 						input(type="password" id="passch" name="password" placeholder="Подтвердить пароль")
	//- 						button Зарегестрироваться

	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js")
	script(src="js/slideout.js")
	script(src="js/flipcounter.min.js")
	script(src="js/jquery.time-to.js")
	script(src='https://www.google.com/recaptcha/api.js')
	script(src="js/main.js")
	block script
