@font-face
{
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/icomoon.eot?wzxjzt');
    src: url('../fonts/icomoon.eot?wzxjzt#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?wzxjzt') format('truetype'), url('../fonts/icomoon.woff?wzxjzt') format('woff'), url('../fonts/icomoon.svg?wzxjzt#icomoon') format('svg');
}

[class^='icon-'],
[class*=' icon-']
{
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star_half:before
{
    content: '\e839';
}

.icon-star:before
{
    content: '\e902';
}

.icon-caret-down:before
{
    content: '\f0d7';
}

.icon-angle-down:before
{
    content: '\f107';
}

.icon-apple:before
{
    content: '\f179';
}

.icon-paper-plane:before,
.icon-send:before
{
    content: '\f1d8';
}

.icon-reddit:before
{
    content: '\eac6';
}

.icon-facebook:before
{
    content: '\e900';
}

.icon-twitter:before
{
    content: '\e901';
}
