.flex
{
    display: flex;
}

body
{
    font-family: 'Roboto', sn-serif !important; 

    position: relative;

    overflow-x: hidden;

    width: 100%;
    height: 100%;

    background-size: cover;
}

p
{
    margin: 0;
    padding: 0;

    color: #666;
}

h1,
h2,
h3,
h4
{
    margin: 0; 
    padding: 0;
}

ul,
ol
{
    margin: 0; 
    padding: 0;

    list-style: none;
}

a
{
    cursor: pointer; 
    text-decoration: none;
}

.container
{
    box-sizing: border-box; 
    width: 100%;
    max-width: 1170px;
    padding: 0 20px;
}

.heading
{
    position: relative; 

    padding: 100px 0;
}
.heading h2
{
    font-family: 'GothamProBold';
    font-size: 55px;

    position: relative;
    z-index: 2;

    display: inline-block; 

    color: #000;
}
@media (max-width: 767px)
{
    .heading h2
    {
        font-size: 26px;
        line-height: 1; 

        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.heading h2:before
{
    position: absolute;
    top: 30px;
    right: -120px;

    width: 100px;
    height: 3px;

    content: '';

    background: #f0be9c;
}
.heading h3
{
    font-size: 34px;
    font-weight: 400; 

    color: #292834;
}
@media (max-width: 767px)
{
    .heading h3
    {
        font-size: 26px;
        line-height: 1; 

        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.heading h4
{
    font-size: 25px;
    font-weight: 100;
    line-height: 48px; 

    color: #fff;
}
@media (max-width: 767px)
{
    .heading h4
    {
        font-size: 26px;
        line-height: 1; 

        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.btn
{
    font-family: 'GothamProRegular'; 

    display: inline-block;

    padding: 20px 30px;

    transition: all .3s;

    color: #fff;
    border: 2px solid #4d2ce0;
    border-radius: 60px;
    background: #4d2ce0;
}
.btn:hover
{
    color: #4d2ce0; 
    background: #fff;
}

.slideout-menu
{
    position: fixed;
    z-index: 8;
    top: 0;
    bottom: 0;

    display: none;
    overflow: -moz-scrollbars-none; 
    overflow-y: scroll;

    width: 100%;
    min-height: 100vh;

    background: #181a22;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.slideout-menu::-webkit-scrollbar
{
    width: 0;
}
@media (max-width: 449px)
{
    .slideout-menu
    {
        width: 100%;
    }
}

.slideout-menu-right
{
    right: 0;

    overflow-x: hidden;
}
.slideout-menu-right ul
{
    padding-top: 35px;
    padding-left: 10px;

    list-style: none;

    background: #1e202b;
}
.slideout-menu-right li
{
    padding-top: 35px;
    padding-left: 40px;
}
.slideout-menu-right li:last-child
{
    padding-bottom: 55px;
}
.slideout-menu-right a
{
    font-size: 25px;
    font-weight: 100;

    transition: all .3s; 

    color: #cdcdcd;
}

.slideout-menu-left
{
    left: 0;
}

.slideout-panel
{
    position: relative;
    z-index: 9;

    min-height: 100vh;

    background-color: #fff;

    will-change: transform;
}

.slideout-open
{
    overflow: hidden;
}

.slideout-open body,
.slideout-open .slideout-panel
{
    overflow: hidden;
}

.slideout-open .slideout-menu
{
    display: block;
}

.panel:before
{
    display: block;

    content: '';
    transition: background-color .5s ease-in-out; 

    background-color: transparent;
}

.panel-open:before
{
    position: absolute;
    z-index: 999; 
    top: 0;
    bottom: 0;

    width: 100%;

    content: '';

    background-color: rgba(0, 0, 0, .5);
}

#btn
{
    display: block;

    width: 36px;
    height: 20px;
    padding-top: 20px;

    cursor: pointer;
}
#btn span
{
    position: relative;

    display: block;

    width: 30px;
    height: 5px;

    transition: all .3s;

    background-color: #999;

    backface-visibility: hidden;
}
#btn span:after,
#btn span:before
{
    position: absolute;
    top: -10px; 
    left: 0;

    content: '';
}
#btn span:after
{
    top: 10px;

    width: 36px;
    height: 5px;

    transition: all .3s;

    background-color: #999;

    backface-visibility: hidden;
}
#btn span:before
{
    width: 36px;
    height: 5px;

    transition: all .3s;

    background-color: #999;

    backface-visibility: hidden;
}
#btn.on span
{
    background-color: transparent;
}
#btn.on span:before
{
    transform: rotate(45deg) translate(6px, 5px);
}
#btn.on span:after
{
    transform: rotate(-45deg) translate(9px, -8px);
}

#btn.on
{
    display: none;
}

.menu-close
{
    position: absolute;
    top: 20px;
    right: 10%;

    width: 40px;
    height: 40px;

    cursor: pointer;
}
.menu-close span
{
    position: relative;
    top: 20px; 

    background-color: transparent;
}
.menu-close span:after,
.menu-close span:before
{
    position: absolute;
    top: -10px; 
    left: 0;

    content: '';
}
.menu-close span:after
{
    top: 10px;

    width: 36px;
    height: 5px;

    content: '';
    transition: all .3s;
    transform: rotate(-45deg) translate(9px, -8px); 

    border-radius: 2px;
    background-color: #999;

    backface-visibility: hidden;
}
.menu-close span:before
{
    width: 36px;
    height: 5px;

    content: '';
    transition: all .3s;
    transform: rotate(45deg) translate(6px, 5px);

    border-radius: 2px; 
    background-color: #999;

    backface-visibility: hidden;
}

.top-line-anchor
{
    position: absolute;
    top: 55px;
    left: 40px; 

    display: inline-block;
}

.header
{
    font-family: 'GothamProRegular';

    padding: 40px 0;

    background: #e9eaed;
}
.header li a
{
    font-size: 15px;

    color: #000;
}
.header__lng a
{
    font-size: 18px;
}
.header__lng a:first-child
{
    margin-right: 10px;
    padding: 20px 15px;

    color: #000;
    border: 2px solid #fff;
    border-radius: 60px;
}

.sentence
{
    padding-top: 20px;

    background: #e9eaed;
}
.sentence h1
{
    font-family: 'GothamProBold';
    font-size: 55px;

    position: relative;

    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 45px; 

    color: #000;
}
.sentence h1:before
{
    position: absolute;
    top: 80px;
    right: 60px;

    width: 100px;
    height: 3px;

    content: '';

    background: #f0be9c;
}
.sentence p
{
    font-size: 18px;
    font-weight: 300;
}
.sentence__timer p
{
    font-size: 15px;
    font-weight: 400;

    padding-top: 10px; 

    color: #000;
}
.sentence__timer b
{
    font-weight: 300;

    padding-right: 30px; 
    padding-left: 10px;

    color: #999;
}
.sentence__timer b:nth-child(2)
{
    padding-left: 17px;
}
.sentence__timer span
{
    font-size: 48px;
    font-weight: 300;
    line-height: 70px; 

    color: #000;
}
.sentence__scale
{
    position: relative;

    margin-top: 15px;
    padding: 10px 20px;

    border-radius: 20px;
    background: #d9dbe0;
    box-shadow: inset 0 1px 1px 0 #c9cbcf;
}
.sentence__scale p
{
    font-size: 15px;
    font-weight: 400;

    position: relative;
    z-index: 3; 

    display: inline-block;

    padding: 0;

    color: #fff;
}
.sentence__scale span
{
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;

    position: absolute;
    z-index: 3;
    top: 10px;
    left: 46%;

    display: inline-block;
}
.sentence__scale_block
{
    position: absolute;
    z-index: 1;
    top: -6px; 
    left: 0;

    width: 52%;
    height: 50px;

    border-radius: 30px;
    background: #d83279;
}
.sentence__block
{
    margin-top: 25px; 
    padding: 20px 0;

    border: 1px solid #fff;
    border-radius: 15px;
    background: #f0f0f2;
}
.sentence__block p
{
    font-size: 14px;

    padding-bottom: 10px; 

    text-transform: uppercase;
}
.sentence__block span
{
    font-family: 'GothamProBold'; 
    font-size: 30px;
}
.sentence__block--padding
{
    margin-right: 20px;
}
.sentence .btn
{
    font-size: 25px;

    margin-top: 50px; 
    padding: 20px 50px;
}
.sentence img
{
    position: relative;
    left: 65px;
}

.about
{
    position: relative;

    padding-bottom: 70px;
}
.about span
{
    font-family: 'GothamProBold';
    font-size: 170px;

    position: absolute;
    z-index: 1;
    top: 35px;
    right: 0;

    opacity: .1;
    color: #999;
}
.about p
{
    font-size: 20px;
    font-weight: 300;
    line-height: 35px; 

    color: #333;
}
.about p b
{
    font-weight: 400;

    color: #000;
}
.about p:first-child
{
    padding-bottom: 50px;
}
.about img
{
    position: absolute;
    top: 130px;
}

.advantages
{
    position: relative;

    padding-bottom: 70px; 

    background: #f8f8f8;
}
.advantages span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    opacity: .1;
    color: #999;
}
.advantages__block
{
    margin-bottom: 20px; 
    padding: 40px;

    border: 2px solid #e7e7e7;
    border-radius: 20px;
}
.advantages__block p
{
    font-size: 18px;

    padding-left: 40px;
}
.advantages__block img
{
    width: 90px;
    height: 90px;
}
.advantages__block--margin
{
    margin-right: 15px;
}

.client
{
    position: relative;

    background: #111;
}
.client .heading
{
    padding-bottom: 55px;
}
.client .heading h2
{
    color: #fff;
}
.client .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 35px;
    right: 0;

    opacity: .1;
    color: #999;
}
.client p
{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px; 

    padding-right: 30px;
}
.client__img img
{
    width: 100%;
}
.client__app
{
    position: relative;

    padding-top: 90px;
}
.client__app a
{
    position: relative;

    display: inline-block;

    padding: 10px 0 10px 70px; 

    border-radius: 30px;
    background: #000;
}
.client__app a span
{
    font-size: 18px;

    display: inline-block; 

    color: #fff;
}
.client__app a p
{
    font-size: 13px;
    line-height: 18px;

    display: inline-block;

    padding-right: 0;
}
.client__app a img
{
    position: absolute;
    top: 13px;
    left: 20px; 

    width: 30px;
    height: auto;
}
.client__lng
{
    padding-top: 30px;
}
.client__lng img
{
    width: 25px;
    padding-right: 20px;
}

.advisors
{
    position: relative;

    background: #f8f8f8;
}
.advisors .heading
{
    padding-bottom: 60px;
}
.advisors .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    opacity: .1;
    color: #999;
}
.advisors__block
{
    margin-bottom: 100px;
}
.advisors__block a
{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

    position: relative;

    display: inline-block;

    width: 100%; 

    color: #000;
}
.advisors__block b
{
    font-size: 12px;
    font-weight: 400;

    color: #999;
}
.advisors__block span
{
    display: block;

    width: 30px;
    height: 2px;
    margin: 20px 0; 

    background: #f0be9c;
}
.advisors__block .icon-linkedin
{
    position: absolute;
    bottom: 7px;

    padding-left: 10px;

    color: #999;
}
.advisors__block p
{
    font-size: 12px;
    font-weight: 400;

    width: 200px; 

    color: #333;
}

.team
{
    position: relative;

    background: #f8f8f8;
}
.team .heading
{
    padding-bottom: 60px;
}
.team .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    opacity: .1;
    color: #999;
}
.team a
{
    display: inline-block; 

    margin-bottom: 30px;
}
.team a p
{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

    position: relative; 

    color: #000;
}
.team a b
{
    font-size: 12px;
    font-weight: 400;

    color: #999;
}
.team a span
{
    display: block;

    width: 30px;
    height: 2px;
    margin: 20px auto; 

    background: #f0be9c;
}
.team a .icon-linkedin
{
    position: absolute;
    bottom: 7px;

    padding-left: 10px;

    color: #999;
}

.faq
{
    position: relative;

    padding-bottom: 70px; 

    background: #fff;
}
.faq span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    opacity: .1;
    color: #999;
}
.faq__block
{
    border-bottom: 1px solid #ddd;
}
.faq__block a
{
    position: relative;

    display: inline-block;

    box-sizing: border-box; 
    width: 100%;
    padding: 15px 0;
    padding-right: 70px;

    color: #000;
}
.faq__block a .icon-chevron-thin-down
{
    position: absolute;
    top: 38%;
    right: 20px;

    transition: all .3s;

    color: #4d2ce0;
}
.faq__block p
{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px; 

    padding: 15px 0;

    color: #999;
}
.faq__block--one
{
    border-top: 1px solid #ddd;
}
.faq .btn
{
    font-size: 15px; 

    margin-top: 35px;
    padding: 17px 50px;

    color: #fff;
    border: 2px solid #000;
    background: #000;
}
.faq .btn:hover
{
    color: #000; 
    background: none;
}

.faq__block.active .icon-chevron-thin-down
{
    transform: rotate(180deg);

    color: #999;
}
