.flex
{
    display: flex;
}

body
{
    font-family: 'Roboto', sn-serif !important; 

    position: relative;

    overflow-x: hidden;

    width: 100%;
    height: 100%;

    background-size: cover;
}

p
{
    margin: 0; 
    padding: 0;
}

h1,
h2,
h3,
h4
{
    margin: 0; 
    padding: 0;
}

ul,
ol
{
    margin: 0; 
    padding: 0;

    list-style: none;
}

a
{
    cursor: pointer; 
    text-decoration: none;
}

.container
{
    position: relative; 

    box-sizing: border-box;
    width: 100%;
    max-width: 1170px;
    padding: 0 20px;
}

.heading
{
    position: relative; 

    padding: 100px 0;
}
@media (max-width: 767px)
{
    .heading
    {
        padding: 50px 0;
    }
}
.heading h2
{
    font-family: 'GothamProBold';
    font-size: 55px;

    position: relative;
    z-index: 2;

    display: inline-block; 

    color: #000;
}
@media (max-width: 560px)
{
    .heading h2
    {
        font-size: 35px;
    }
}
.heading h2:before
{
    position: absolute;
    top: 30px;
    right: -120px;

    width: 100px;
    height: 3px;

    content: '';

    background-image: linear-gradient(to right, #f0bc9a, #f0dcbf);
}
@media (max-width: 560px)
{
    .heading h2:before
    {
        display: none;
    }
}

.btn
{
    font-family: 'GothamProRegular'; 

    display: inline-block;

    padding: 20px 30px;

    transition: all .3s;

    color: #fff;
    border-radius: 60px;
    background-image: linear-gradient(to right, #4d2ce0, #8453f7);
}
.btn:hover
{
    color: #4d2ce0; 
    background: #fff;
}

.scene,
.scene1,
.scene2
{
    position: absolute !important;
    z-index: 10;
    top: 0;
    left: -15%;
}

.scene1
{
    top: -35px;
}

.scene2
{
    top: 250px;
    left: 10px;
}

.slideout-menu
{
    position: fixed;
    z-index: 8;
    top: 0;
    bottom: 0;

    display: none;
    overflow: -moz-scrollbars-none; 
    overflow-y: scroll;

    max-width: 450px;
    min-height: 100vh;

    background: #181a22;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.slideout-menu::-webkit-scrollbar
{
    width: 0;
}

.slideout-menu-right
{
    right: 0;

    overflow-x: hidden;
}
.slideout-menu-right ul
{
    padding-top: 55px; 
    padding-left: 10px;

    list-style: none;
}
.slideout-menu-right li
{
    padding-top: 35px;
    padding-left: 25px;
}
.slideout-menu-right li:last-child
{
    position: relative;
    left: -5px;

    width: 100%;
    margin-top: 10px; 
    padding: 0;

    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}
.slideout-menu-right li:last-child:hover
{
    color: #502ee1;
}
.slideout-menu-right li:last-child:hover p
{
    color: #502ee1;
}
.slideout-menu-right li:last-child select
{
    position: reative;

    width: 100%;
    height: 56px;

    cursor: pointer;

    opacity: 0;
    border: none;

    filter: alpha(opacity=0);
}
.slideout-menu-right li:last-child p
{
    font-family: 'GothamProRegular';
    font-size: 18px;

    position: absolute;
    top: 20px;
    left: 30px;

    overflow: hidden; 

    color: #cdcdcd;
}
.slideout-menu-right li:last-child .icon-arrow_drop_down
{
    font-size: 25px;

    position: absolute;
    top: 16px;
    right: 10px;

    color: #cdcdcd;
}
.slideout-menu-right a
{
    font-size: 25px;
    font-weight: 100;

    transition: all .3s; 

    color: #cdcdcd;
}
.slideout-menu-right a:hover
{
    color: #502ee1;
}
.slideout-menu-right a .icon-arrow_drop_down
{
    position: relative;
    top: 4px;
}
.slideout-menu-right .lng
{
    border-top: 2px solid #2c2e3c;
    border-bottom: 1px solid #2c2e3c;
    background: #1e202b;
}
.slideout-menu-right .lng a
{
    font-size: 20px;

    position: relative;

    display: inline-block;

    box-sizing: border-box; 
    width: 100%;
    padding: 20px 80px;

    color: #cdcdcd;
    border-bottom: 1px solid #2c2e3c;
}
.slideout-menu-right .lng a img
{
    position: absolute;
    top: 25px; 
    left: 50px;
}
.slideout-menu-right .lng a i
{
    position: absolute;
    right: 55px;

    transition: all .3s ease-in-out;
}
.slideout-menu-right .lng__block a
{
    border: none;
}
.slideout-menu-right .lng.active .icon-caret-down
{
    transform: rotate(180deg);

    color: #999;
}
.slideout-menu-right .unilot
{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 60px;
    padding-left: 50px; 

    background: #181a22;
}
.slideout-menu-right .unilot p
{
    font-size: 14px;

    padding: 20px 0; 

    color: #818494;
}
.slideout-menu-right .unilot a
{
    font-size: 18px;

    position: relative;

    display: inline-block;

    width: 75%;
    margin-bottom: 10px;
    padding: 10px 0 10px 45px;

    color: #fff; 
    border-radius: 5px;
    background: #000;
}
.slideout-menu-right .unilot a img
{
    position: absolute;
    top: 4px;
    left: 5px;

    width: 28px;
    padding-left: 0;
}
.slideout-menu-right .unilot img
{
    width: 60%;
    padding-left: 20px;
}
.slideout-menu-right .social
{
    position: fixed;
    bottom: 0;

    width: 450px;
    padding-top: 25px;
    padding-bottom: 25px;

    border-top: 2px solid #2c2e3c;
    background: #181a22;
}
.slideout-menu-right .social i
{
    padding-left: 50px;

    color: #fff;
}
.slideout-menu-right .social i:hover
{
    color: #f84e44;
}

.slideout-menu-left
{
    left: 0;
}

.slideout-panel
{
    position: relative;
    z-index: 9;

    min-height: 100vh;

    background-color: #fff;

    will-change: transform;
}

.slideout-open
{
    overflow: hidden;
}

.slideout-open body,
.slideout-open .slideout-panel
{
    overflow: hidden;
}

.slideout-open .slideout-menu
{
    display: block;
}

.panel:before
{
    display: block;

    content: '';
    transition: background-color .5s ease-in-out; 

    background-color: transparent;
}

.panel-open:before
{
    position: absolute;
    z-index: 999; 
    top: 0;
    bottom: 0;

    width: 100%;

    content: '';

    background-color: rgba(0, 0, 0, .5);
}

#btn
{
    display: block;

    width: 36px;
    height: 20px;
    padding-top: 20px;

    cursor: pointer;
}
#btn span
{
    position: relative;

    display: block;

    width: 36px;
    height: 5px;

    transition: all .3s;

    border-radius: 7px; 
    background-color: #8161eb;

    backface-visibility: hidden;
}
#btn span:after,
#btn span:before
{
    position: absolute;
    top: -10px; 
    left: 0;

    content: '';
}
#btn span:after
{
    top: 10px;

    width: 36px;
    height: 5px;

    transition: all .3s;

    border-radius: 7px;
    background-color: #6c52e3;

    backface-visibility: hidden;
}
#btn span:before
{
    width: 36px;
    height: 5px;

    transition: all .3s;

    border-radius: 7px;
    background-color: #ac8ff3;

    backface-visibility: hidden;
}

body.on #btn,
body.on .sentence__social
{
    display: none;
}

.menu-close
{
    position: absolute;
    top: 20px;
    right: 10%;

    width: 40px;
    height: 40px;

    cursor: pointer;
}
.menu-close span
{
    position: relative;
    top: 20px; 

    background-color: transparent;
}
.menu-close span:after,
.menu-close span:before
{
    position: absolute;
    top: -10px; 
    left: 0;

    content: '';
}
.menu-close span:after
{
    top: 10px;

    width: 36px;
    height: 5px;

    content: '';
    transition: all .3s;
    transform: rotate(-45deg) translate(9px, -8px); 

    border-radius: 2px;
    background-color: #999;

    backface-visibility: hidden;
}
.menu-close span:before
{
    width: 36px;
    height: 5px;

    content: '';
    transition: all .3s;
    transform: rotate(45deg) translate(6px, 5px);

    border-radius: 2px; 
    background-color: #999;

    backface-visibility: hidden;
}

.top-line-anchor
{
    position: fixed;
    z-index: 10; 
    top: 50px;
    left: 20px;

    display: inline-block;
}

@media (max-width: 1024px)
{
    .header ul
    {
        display: none;
    }
    .header__left__lng
    {
        display: none;
    }
    .top-line-anchor
    {
        top: 40px;
        left: 30px;
    }
}

body.on .header
{
    z-index: 8;
}

body.on .sentence
{
    padding-top: 20px;
}

.header
{
    font-family: 'GothamProRegular';

    position: fixed;
    z-index: 10;

    width: 100%;
    padding: 40px 0;

    background: #e9eaed;
}
.header li a
{
    font-size: 15px;

    color: #000;
}
.header__left
{
    position: relative;
}
.header__left a
{
    font-size: 18px;

    display: inline-block;
}
.header__left__lng
{
    position: relative;

    width: 100%;

    transition: all .3s; 

    border: 2px solid #fff;
    border-radius: 60px;
}
.header__left__lng:hover
{
    border: 2px solid #4d2ce0; 
    background: #4d2ce0;
}
.header__left__lng:hover p
{
    color: #999;
}
.header__left__lng:hover .icon-arrow_drop_down
{
    color: #999;
}
.header__left__lng select
{
    position: reative;

    width: 100%;
    height: 56px;

    cursor: pointer;

    opacity: 0;
    border: none;

    filter: alpha(opacity=0);
}
.header__left__lng p
{
    font-family: 'GothamProRegular';
    font-size: 18px;

    position: absolute;
    top: 20px;
    left: 30px;

    overflow: hidden; 

    color: #000;
}
.header__left__lng .icon-arrow_drop_down
{
    font-size: 25px;

    position: absolute;
    top: 16px;
    right: 10px;
}
.header__left__btn a
{
    width: 150px;
}
@media (max-width: 1024px)
{
    .header__left__btn
    {
        position: absolute;
        right: 0; 
        bottom: -5px;
    }
}
@media (max-width: 650px)
{
    .header__left__btn
    {
        position: relative;
    }
}

.footer
{
    position: relative;

    background: #000;
}
.footer .heading
{
    padding-bottom: 60px;
}
.footer .heading h2
{
    color: #fff;
}
.footer .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: transparent; 
    background: linear-gradient(to right, #000, #141414, #1a1a1a);
    -webkit-background-clip: text;
}
@media (max-width: 767px)
{
    .footer .heading span
    {
        display: none;
    }
}
.footer__top a
{
    display: block;

    margin-bottom: 40px; 
    padding: 20px 0;

    color: #fff;
    border-radius: 10px;
    background: #111;
}
.footer__top a:hover
{
    box-shadow: 0 10px 30px 3px #222;
}
.footer__top a p
{
    position: relative;
    top: 5px; 

    display: inline-block;

    padding-left: 15px;
}
.footer__top a .git
{
    top: -20px;
}
.footer__top a .icon-github
{
    font-size: 65px;
}
.footer__top a .icon-telegram
{
    font-size: 35px; 

    display: inline-block;

    width: 65px;
    height: 65px;

    border-radius: 180px;
    background: #298fc2;
}
.footer__top a .icon-telegram:before
{
    position: relative;
    top: 15px;
    left: -3px;
}
.footer__top a .icon-medium
{
    font-size: 35px; 

    display: inline-block;

    width: 65px;
    height: 65px;

    border: 1px solid #212121;
    border-radius: 180px;
}
.footer__top a .icon-medium:before
{
    position: relative;
    top: 13px;
}
.footer__bottom
{
    padding-bottom: 140px;
}
@media (max-width: 767px)
{
    .footer__bottom
    {
        padding-bottom: 60px;
    }
}
.footer__bottom a
{
    display: block;

    margin-bottom: 40px; 
    padding: 10px 0;

    color: #fff;
    border: 1px solid #222;
    border-radius: 15px;
}
.footer__bottom a:hover
{
    box-shadow: 0 10px 30px 3px #222;
}
.footer__bottom a p
{
    position: relative;
    top: 8px; 

    display: inline-block;

    padding-left: 15px;
}
.footer__bottom a .icon-reddit
{
    font-size: 25px; 

    display: inline-block;

    width: 50px;
    height: 50px;

    border-radius: 180px;
    background: #ff4500;
}
.footer__bottom a .icon-reddit:before
{
    position: relative;
    top: 13px;
}
.footer__bottom a .icon-twitter
{
    font-size: 25px; 

    display: inline-block;

    width: 50px;
    height: 50px;

    border-radius: 180px;
    background: #50abf1;
}
.footer__bottom a .icon-twitter:before
{
    position: relative;
    top: 13px;
}
.footer__bottom a .icon-facebook
{
    font-size: 25px; 

    display: inline-block;

    width: 50px;
    height: 50px;

    border-radius: 180px;
    background: #3a559f;
}
.footer__bottom a .icon-facebook:before
{
    position: relative;
    top: 13px;
}
.footer__bottom a .icon-linkedin2
{
    font-size: 23px; 

    display: inline-block;

    width: 50px;
    height: 50px;

    border-radius: 180px;
    background: #0084b1;
}
.footer__bottom a .icon-linkedin2:before
{
    position: relative;
    top: 12px;
}
.footer__bottom a .medium
{
    display: inline-block; 

    width: 50px;
    height: 50px;

    background: url('../img/Slack_Mark.png') no-repeat;
}
.footer__bottom a .slack
{
    top: -20px;
}
.footer__bottom a .icon-YouTube-2
{
    font-size: 25px; 

    display: inline-block;

    width: 50px;
    height: 50px;

    border-radius: 180px;
    background: #e62117;
}
.footer__bottom a .icon-YouTube-2:before
{
    position: relative;
    top: 12px;
}
.footer__logo img
{
    height: 27px;
}
.footer__logo p
{
    font-size: 13px;
    font-weight: 400;

    padding-top: 15px;
    padding-bottom: 40px;

    color: #999;
}

.wrap
{
    width: 100%; 
    height: 250px;
    margin-top: 150px;
}
.wrap__block
{
    position: relative;

    width: 100%;
    height: 350px;

    list-style: none;

    background: url('../img/ellipse.png') no-repeat;
    background-size: contain;
}
.wrap__block span
{
    position: absolute;

    margin-top: 10px; 

    cursor: pointer;
    transition: all .6s;

    opacity: 0;
}
.wrap__block span.active
{
    z-index: 999;
    top: 0; 
    left: 45%;

    opacity: 1;
}
.wrap__block span.left2
{
    top: -20px; 
    left: 20%;

    transform: perspective(600px) translateX(-160%) rotateY(-40deg) scale(.5);

    opacity: 1;
    opacity: .4;
}
.wrap__block span.left2 p
{
    opacity: 0;
}
.wrap__block span.left1
{
    top: -10px; 
    left: 30%;

    transform: translateX(-102%) rotateY(-20deg) scale(.8);

    opacity: 1;
}
.wrap__block span.left1 p
{
    opacity: 0;
}
.wrap__block span.right1
{
    top: -10px; 
    right: 30%;

    transform: translateX(102%) rotateY(20deg) scale(.8);

    opacity: 1;
}
.wrap__block span.right1 p
{
    opacity: 0;
}
.wrap__block span.right2
{
    top: -20px; 
    right: 20%;

    transform: perspective(600px) translateX(160%) rotateY(40deg) scale(.5);

    opacity: 1;
    opacity: .4;
}
.wrap__block span.right2 p
{
    opacity: 0;
}
.wrap__block span h4
{
    font-size: 23px;

    position: relative;

    padding-bottom: 15px;
}
.wrap__block span h4:before
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 30px;
    height: 3px;

    content: '';

    background: #d9b48d;
}
.wrap__block span h4 p
{
    font-family: 'GothamProBold'; 
    font-size: 90px;

    position: absolute;
    top: -65px;
    left: 0;

    opacity: .1;
    color: #333;
}
.wrap__block span ul
{
    padding-top: 15px; 
    padding-left: 17px;

    list-style-type: disc;

    color: #666;
}
.wrap__block span ul li
{
    font-size: 15px;
    line-height: 25px; 

    color: #666;
}
.wrap__next
{
    width: 100%;
    height: 30px;

    cursor: pointer; 

    background: url('../img/next.png') no-repeat;
    background-position-x: center;
}
.wrap__prev
{
    width: 100%;
    height: 30px;

    cursor: pointer; 

    background: url('../img/prev.png') no-repeat;
    background-position-x: center;
}

.roadshow #swiper-2
{
    max-width: 1000px;
    padding-bottom: 190px;
}
.roadshow #swiper-2 .swiper-slide
{
    font-size: 18px;

    background: #131414;
}
.roadshow #swiper-2 .swiper-slide h4
{
    font-family: 'GothamProMedium';
    font-size: 40px;

    padding-bottom: 10px; 

    color: #fff;
}
.roadshow #swiper-2 .swiper-slide p
{
    font-size: 15px;
    font-weight: 400;

    padding-bottom: 15px; 

    color: #777;
}
.roadshow #swiper-2 .swiper-slide__block
{
    width: 100%; 

    border-radius: 20px;
    background: #fff;
}
.roadshow #swiper-2 .swiper-slide__block img
{
    width: 100%;

    border-top-left-radius: 17px; 
    border-top-right-radius: 17px;
}
.roadshow #swiper-2 .swiper-slide__block p
{
    font-size: 20px;

    width: 190px; 
    padding-top: 20px;
    padding-left: 25px;

    color: #000;
}
.roadshow #swiper-2 .swiper-slide__block span
{
    font-size: 14px;

    display: inline-block; 

    padding-left: 25px;

    text-transform: uppercase;

    color: #532dff;
}
.roadshow #swiper-2 .swiper-slide__block a
{
    position: relative;
    top: -10px; 
    left: -10px;

    display: inline-block;
}
.roadshow #swiper-2 .swiper-slide__block a img
{
    width: 40px;
    height: 40px;
}

.roadshow .swiper-button-prev,
.roadshow .swiper-button-next
{
    top: 58%;

    background: none;
}
@media (max-width: 1024px)
{
    .roadshow .swiper-button-prev,
    .roadshow .swiper-button-next
    {
        display: none;
    }
}

.roadshow .icon-chevron-thin-left
{
    font-size: 55px; 

    color: #fff;
}

.roadshow .icon-chevron-thin-right
{
    font-size: 55px; 

    color: #fff;
}

.roadshow .swiper-container-horizontal > .swiper-pagination-bullets,
.roadshow .swiper-pagination-custom,
.roadshow .swiper-pagination-fraction
{
    bottom: 80px;
}

.roadshow .swiper-pagination-bullet
{
    width: 9px;
    height: 9px; 

    background: #fff;
}

.roadshow .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin-left: 20px;
}

.roadshow .swiper-pagination-bullet-active
{
    background: #fff;
}

.sentence
{
    position: relative;

    padding-top: 20px;
    padding-top: 140px; 

    background: #e9eaed;
}
.sentence__social
{
    position: fixed;
    z-index: 10;
    bottom: 30px;
    left: 30px;

    transition: all .3s; 

    opacity: .5;
}
@media (max-width: 767px)
{
    .sentence__social
    {
        display: none;
    }
}
.sentence__social:hover
{
    opacity: 1;
}
.sentence__social p
{
    font-family: 'GothamProRegular';
    font-size: 15px !important;

    position: relative;
    bottom: 45px; 
    left: -17px;

    transform: rotate(270deg);
}
.sentence__social__block
{
    display: flex;
    flex-direction: column;

    width: 50px;

    border-radius: 30px; 
    background: #d9dbe0;
}
.sentence__social__block a
{
    color: #fff;
}
.sentence__social__block a:hover
{
    color: #4d2ce0;
}
.sentence__social__block i
{
    font-size: 28px;

    display: inline-block;

    margin-bottom: 5px; 
    padding: 10px;
}
.sentence__social__block .icon-github:hover
{
    color: #000;
}
.sentence__social__block .icon-telegram:hover
{
    color: #2da5e1;
}
.sentence__social__block .icon-medium:hover
{
    color: #000;
}
.sentence__social__block .icon-reddit:hover
{
    color: #ff4500;
}
.sentence__social__block .icon-twitter:hover
{
    color: #50abf1;
}
.sentence h1
{
    font-family: 'GothamProBold';
    font-size: 55px;

    position: relative;

    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 45px; 

    color: #000;
}
@media (max-width: 670px)
{
    .sentence h1
    {
        font-size: 35px;
    }
}
.sentence h1:before
{
    position: absolute;
    top: 80px;
    right: 60px;

    width: 100px;
    height: 3px;

    content: '';

    background-image: linear-gradient(to right, #f0bc9a, #f0dcbf);
}
@media (max-width: 1130px)
{
    .sentence h1:before
    {
        right: 20px;
    }
}
@media (max-width: 1070px)
{
    .sentence h1:before
    {
        right: -5px;
    }
}
@media (max-width: 1024px)
{
    .sentence h1:before
    {
        display: none;
    }
}
.sentence p
{
    font-size: 18px;
    font-weight: 300;
}
.sentence__timer p
{
    font-size: 15px;
    font-weight: 400;

    padding-top: 10px; 

    color: #000;
}
.sentence__timer b
{
    font-weight: 300;

    padding-right: 30px; 
    padding-left: 10px;

    color: #999;
}
@media (max-width: 360px)
{
    .sentence__timer b
    {
        padding-right: 23px; 
        padding-left: 0;
    }
}
.sentence__timer b:nth-child(2)
{
    padding-left: 17px;
}
.sentence__timer span
{
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 300;
    line-height: 70px; 

    color: #000;
}
@media (max-width: 360px)
{
    .sentence__timer span
    {
        font-size: 40px;
    }
}
.sentence__scale
{
    position: relative;

    margin-top: 15px;
    padding: 10px 20px;

    border-radius: 20px;
    background: #d9dbe0;
    box-shadow: inset 0 1px 1px 0 #c9cbcf;
}
.sentence__scale p
{
    font-size: 15px;
    font-weight: 400;

    position: relative;
    z-index: 3; 

    display: inline-block;

    padding: 0;

    color: #fff;
}
@media (max-width: 400px)
{
    .sentence__scale p
    {
        font-size: 13px;
    }
}
.sentence__scale span
{
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;

    position: absolute;
    z-index: 3;
    top: 10px;
    left: 46%;

    display: inline-block;

    color: #fff;
}
.sentence__scale_block
{
    position: absolute;
    z-index: 1;
    top: -4px;
    left: 0;

    width: 53%;
    height: 47px;

    border-radius: 30px;
    background: #d83279;
    background-image: linear-gradient(to right, #d83279, #ff5b4e);
}
@media (max-width: 700px)
{
    .sentence__scale_block
    {
        width: 55%;
    }
}
@media (max-width: 500px)
{
    .sentence__scale_block
    {
        width: 58%;
    }
}
@media (max-width: 400px)
{
    .sentence__scale_block
    {
        width: 60%;
    }
}
.sentence__block
{
    margin-top: 25px; 
    padding: 20px 0;

    border: 1px solid #fff;
    border-radius: 15px;
    background: #f0f0f2;
}
.sentence__block p
{
    font-size: 14px;

    padding-bottom: 10px; 

    text-transform: uppercase;
}
.sentence__block span
{
    font-family: 'GothamProBold'; 
    font-size: 30px;
}
.sentence__block--padding
{
    margin-right: 20px;
}
@media (max-width: 767px)
{
    .sentence__block--padding
    {
        margin-right: 0;
    }
}
.sentence .btn
{
    font-size: 25px;

    position: relative;
    z-index: 10; 

    margin-top: 50px;
    margin-bottom: 70px;
    padding: 20px 50px;
}
@media (max-width: 400px)
{
    .sentence .btn
    {
        padding: 15px 30px;
    }
}
.sentence img
{
    position: relative;
    z-index: 11; 
    left: 65px;

    width: 100%;
}
@media (max-width: 1000px)
{
    .sentence img
    {
        top: 24%;
    }
}
@media (max-width: 767px)
{
    .sentence img
    {
        display: none;
    }
}

.about
{
    position: relative;
}
@media (max-width: 1100px)
{
    .about
    {
        padding-bottom: 70px;
    }
}
.about span
{
    font-family: 'GothamProBold';
    font-size: 170px;

    position: absolute;
    z-index: 1;
    top: 35px;
    right: 0;

    opacity: .1;
    color: #999;
}
@media (max-width: 767px)
{
    .about span
    {
        display: none;
    }
}
.about p
{
    font-size: 20px;
    font-weight: 300;
    line-height: 35px; 

    color: #333;
}
.about p b
{
    font-weight: 400;

    color: #000;
}
.about p:first-child
{
    padding-bottom: 50px;
}
.about img
{
    position: relative;
    top: -130px;

    width: 100%;
}
@media (max-width: 1024px)
{
    .about img
    {
        top: 0;
    }
}
@media (max-width: 767px)
{
    .about img
    {
        display: none;
    }
}

.advantages
{
    position: relative;
    z-index: 11; 

    padding-bottom: 70px;

    background: #f8f8f8;
}
.advantages span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: transparent; 
    background: linear-gradient(to right, #fff, #fff, #e6e7e8, #e6e6e8);
    -webkit-background-clip: text;
}
@media (max-width: 767px)
{
    .advantages span
    {
        display: none;
    }
}
.advantages__block
{
    margin-bottom: 20px; 
    padding: 40px;

    border: 2px solid #e7e7e7;
    border-radius: 20px;
}
@media (max-width: 450px)
{
    .advantages__block
    {
        padding: 15px;
    }
}
.advantages__block p
{
    font-size: 18px;

    display: inline-block; 

    padding-left: 30px;
}
.advantages__block img
{
    width: 90px;
    height: 90px;
}
@media (max-width: 400px)
{
    .advantages__block img
    {
        width: 70px;
        height: 70px;
    }
}
.advantages__block--margin
{
    margin-right: 15px;
}
@media (max-width: 767px)
{
    .advantages__block--margin
    {
        margin-right: 0;
    }
}

.client
{
    position: relative;

    background: #111;
}
.client .heading
{
    padding-bottom: 55px;
}
.client .heading h2
{
    color: #fff;
}
.client .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 35px;
    right: 0;

    color: transparent; 
    background: linear-gradient(to right, #0a0a0a, #0f0e0e, #1a1a1a);
    -webkit-background-clip: text;
}
@media (max-width: 1024px)
{
    .client .heading span
    {
        display: none;
    }
}
.client p
{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;

    padding-right: 30px;

    color: #999;
}
@media (max-width: 767px)
{
    .client p
    {
        padding-right: 0;
    }
}
.client__img
{
    position: relative;
    z-index: 11;
}
@media (max-width: 767px)
{
    .client__img
    {
        display: none;
    }
}
.client__img img
{
    width: 100%;
}
.client__app
{
    position: relative;

    padding-top: 90px;
}
.client__app a
{
    position: relative;

    display: inline-block;

    max-width: 200px; 
    margin-bottom: 20px;
    padding: 10px 20px;

    border-radius: 30px;
    background: #000;
}
.client__app a:hover
{
    box-shadow: 0 5px 20px 5px #222;
}
.client__app a span
{
    font-size: 18px;

    display: inline-block; 

    color: #fff;
}
.client__app a p
{
    font-size: 13px;
    line-height: 18px;

    display: inline; 

    padding-right: 0;

    color: #fff;
}
.client__app a img
{
    width: 30px;
    height: auto;
    padding-top: 4px;
}
.client__lng
{
    margin-bottom: 30px; 
    padding-top: 30px;
}
.client__lng a
{
    display: inline-block;

    margin-right: 20px;

    border-radius: 180px;
}
.client__lng img
{
    width: 25px;
}

.roadmap
{
    position: relative;

    padding-bottom: 80px; 

    background: #fff;
}
.roadmap .heading
{
    padding-bottom: 60px;
}
.roadmap .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    opacity: .1;
    color: #999;
}
@media (max-width: 767px)
{
    .roadmap .heading span
    {
        display: none;
    }
}

.function
{
    position: relative;

    padding-bottom: 90px; 

    background: #f8f8f8;
}
.function .heading
{
    padding-bottom: 60px;
}
@media (max-width: 1120px)
{
    .function .heading h2
    {
        font-size: 50px;
    }
}
@media (max-width: 767px)
{
    .function .heading h2
    {
        font-size: 35px;
    }
}
.function .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: #fff;
}
@media (max-width: 767px)
{
    .function .heading span
    {
        display: none;
    }
}
.function .h2 span
{
    color: transparent; 
    background: linear-gradient(to right, #fff, #e6e6e8);
    -webkit-background-clip: text;
}
@media (max-width: 1024px)
{
    .function img
    {
        width: 70%;
    }
}
@media (max-width: 767px)
{
    .function img
    {
        width: 100%;
    }
}
.function p
{
    font-size: 15px; 
    line-height: 30px;

    position: relative;

    padding-left: 25px;

    color: #03034b;
}
.function p span
{
    position: absolute;
    top: 7px;
    left: 0;

    width: 15px;
    height: 15px;

    border-radius: 60px;
    background: #000;
}
.function p .purple
{
    background: #3f4ab7;
}
.function p .green
{
    background: #54ca95;
}
.function p .blue
{
    background: #79d9ea;
}
.function p .lilac
{
    background: #9771d0;
}
.function p .yellow
{
    background: #ffd6c0;
}

.whitepaper
{
    position: relative;

    padding-bottom: 400px; 

    background: #fff;
}
.whitepaper .heading
{
    padding-bottom: 60px;
}
.whitepaper .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: #f7f7f8;
}
@media (max-width: 1024px)
{
    .whitepaper .heading span
    {
        display: none;
    }
}
.whitepaper p
{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;

    padding-bottom: 80px;
}
.whitepaper span
{
    font-weight: 300;

    padding-left: 30px; 

    color: #bab9b9;
}
@media (max-width: 767px)
{
    .whitepaper span
    {
        display: inline-block;

        padding-top: 40px;
    }
}
@media (max-width: 730px)
{
    .whitepaper span
    {
        line-height: 20px; 

        padding-left: 0;
    }
}
.whitepaper .btn
{
    position: relative;

    padding: 13px 45px; 
    padding-left: 75px;

    box-shadow: 0 10px 30px 3px #f0edfd;
}
.whitepaper .btn .icon-file-text2
{
    font-size: 25px; 

    position: absolute;
    top: 10px;
    left: 25px;
}

.roadshow
{
    position: relative;

    background: #131414;
}
.roadshow .heading
{
    padding-bottom: 60px;
}
.roadshow .heading h2
{
    color: #fff;
}
.roadshow .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: transparent; 
    background: linear-gradient(to right, #1a1a1a, #1a1a1a, #0a0a0a);
    -webkit-background-clip: text;
}
@media (max-width: 900px)
{
    .roadshow .heading span
    {
        display: none;
    }
}
.roadshow .container
{
    position: relative;
}

.advisors
{
    position: relative;

    background: #fff;
}
.advisors .heading
{
    padding-bottom: 60px;
}
.advisors .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: #f7f7f8;
}
@media (max-width: 1105px)
{
    .advisors .heading span
    {
        display: none;
    }
}
.advisors__block
{
    margin-bottom: 100px;
}
.advisors__block a
{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

    position: relative;

    display: inline-block;

    width: 100%; 

    color: #000;
}
.advisors__block b
{
    font-size: 12px;
    font-weight: 400;

    color: #999;
}
.advisors__block span
{
    display: block;

    width: 30px;
    height: 2px;
    margin: 20px 0; 

    background: #f0be9c;
}
.advisors__block .icon-linkedin
{
    position: absolute;
    bottom: 7px;

    padding-left: 10px;

    color: #999;
}
.advisors__block p
{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px; 

    width: 200px;

    color: #333;
}
@media (max-width: 767px)
{
    .advisors__block p
    {
        width: 100%;
    }
}
.advisors__block img
{
    width: 100%;
}
@media (max-width: 767px)
{
    .advisors__block img
    {
        width: 80%;
    }
}
@media (max-width: 450px)
{
    .advisors__block img
    {
        width: 100%;
    }
}

.team
{
    position: relative;

    background: #f8f8f8;
}
.team .heading
{
    padding-bottom: 60px;
}
.team .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: transparent; 
    background: linear-gradient(to right, #fff, #fff, #fff, #f9f9fa, #e6e7e8);
    -webkit-background-clip: text;
}
@media (max-width: 1024px)
{
    .team .heading span
    {
        display: none;
    }
}
.team a
{
    display: inline-block;

    width: 80%; 
    margin-bottom: 30px;
}
.team a p
{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

    position: relative; 

    color: #000;
}
.team a b
{
    font-size: 12px;
    font-weight: 400;

    color: #999;
}
.team a span
{
    display: block;

    width: 30px;
    height: 2px;
    margin: 20px auto; 

    background: #f0be9c;
}
.team a .icon-linkedin
{
    position: absolute;
    bottom: 7px;

    padding-left: 10px;

    color: #999;
}
.team a img
{
    max-width: 150px;
}
@media (max-width: 767px)
{
    .team a img
    {
        width: 100%; 
        max-width: 50%;
    }
}
@media (max-width: 420px)
{
    .team a img
    {
        max-width: 150px;
    }
}

.faq
{
    position: relative;

    padding-bottom: 70px; 

    background: #fff;
}
.faq span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: #f7f7f8;
}
@media (max-width: 767px)
{
    .faq span
    {
        display: none;
    }
}
.faq__block
{
    border-bottom: 1px solid #ddd;
}
.faq__block a
{
    position: relative;

    display: inline-block;

    box-sizing: border-box; 
    width: 100%;
    padding: 15px 0;
    padding-right: 70px;

    color: #000;
}
.faq__block a .icon-chevron-thin-down
{
    position: absolute;
    top: 38%;
    right: 20px;

    transition: all .3s;

    color: #4d2ce0;
}
.faq__block p
{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px; 

    padding: 15px 0;

    color: #999;
}
.faq__block--one
{
    border-top: 1px solid #ddd;
}
.faq .btn
{
    font-size: 15px; 

    margin-top: 35px;
    padding: 17px 50px;

    color: #fff;
    border: 2px solid #000;
    background: #000;
}
.faq .btn:hover
{
    color: #000; 
    background: none;
}

.faq__block.active .icon-chevron-thin-down
{
    transform: rotate(180deg);

    color: #999;
}
