.sentence
{
    position: relative;

    padding-top: 20px;
    padding-top: 140px; 

    background: #e9eaed;
}
.sentence__social
{
    position: fixed;
    z-index: 10;
    bottom: 30px;
    left: 30px;

    transition: all .3s; 

    opacity: .5;
}
@media (max-width: 1024px)
{
    .sentence__social
    {
        display: none;
    }
}
.sentence__social:hover
{
    opacity: 1;
}
.sentence__social p
{
    font-family: 'GothamProRegular';
    font-size: 15px !important;

    position: relative;
    bottom: 45px; 
    left: -17px;

    transform: rotate(270deg);
}
.sentence__social__block
{
    display: flex;
    flex-direction: column;

    width: 50px;

    border-radius: 30px; 
    background: #d9dbe0;
}
.sentence__social__block a
{
    color: #fff;
}
.sentence__social__block a:hover
{
    color: #4d2ce0;
}
.sentence__social__block i
{
    font-size: 28px;

    display: inline-block;

    margin-bottom: 5px; 
    padding: 10px;
}
.sentence__social__block .icon-github:hover
{
    color: #000;
}
.sentence__social__block .icon-telegram:hover
{
    color: #2da5e1;
}
.sentence__social__block .icon-medium:hover
{
    color: #000;
}
.sentence__social__block .icon-reddit:hover
{
    color: #ff4500;
}
.sentence__social__block .icon-twitter:hover
{
    color: #50abf1;
}
.sentence h1
{
    font-family: 'GothamProBold';
    font-size: 55px;

    position: relative;

    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 45px; 

    color: #000;
}
@media (max-width: 670px)
{
    .sentence h1
    {
        font-size: 35px;
    }
}
.sentence h1:before
{
    position: absolute;
    top: 80px;
    right: 60px;

    width: 100px;
    height: 3px;

    content: '';

    background-image: linear-gradient(to right, #f0bc9a, #f0dcbf);
}
@media (max-width: 1130px)
{
    .sentence h1:before
    {
        right: 20px;
    }
}
@media (max-width: 1070px)
{
    .sentence h1:before
    {
        right: -5px;
    }
}
@media (max-width: 1024px)
{
    .sentence h1:before
    {
        display: none;
    }
}
.sentence p
{
    font-size: 18px;
    font-weight: 300;
}
.sentence__timer p
{
    font-size: 15px;
    font-weight: 400;

    padding-top: 10px; 

    color: #000;
}
.sentence__timer b
{
    font-weight: 300;

    padding-right: 30px; 
    padding-left: 10px;

    color: #999;
}
@media (max-width: 360px)
{
    .sentence__timer b
    {
        padding-right: 23px; 
        padding-left: 0;
    }
}
.sentence__timer b:nth-child(2)
{
    padding-left: 17px;
}
.sentence__timer span
{
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 300;
    line-height: 70px; 

    color: #000;
}
@media (max-width: 360px)
{
    .sentence__timer span
    {
        font-size: 40px;
    }
}
.sentence__scale
{
    position: relative;

    margin-top: 15px;
    padding: 10px 20px;

    border-radius: 20px;
    background: #d9dbe0;
    box-shadow: inset 0 1px 1px 0 #c9cbcf;
}
.sentence__scale p
{
    font-size: 15px;
    font-weight: 400;

    position: relative;
    z-index: 3; 

    display: inline-block;

    padding: 0;

    color: #fff;
}
@media (max-width: 400px)
{
    .sentence__scale p
    {
        font-size: 13px;
    }
}
.sentence__scale span
{
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;

    position: absolute;
    z-index: 3;
    top: 10px;
    left: 46%;

    display: inline-block;

    color: #fff;
}
.sentence__scale_block
{
    position: absolute;
    z-index: 1;
    top: -4px;
    left: 0;

    width: 53%;
    height: 47px;

    border-radius: 30px;
    background: #d83279;
    background-image: linear-gradient(to right, #d83279, #ff5b4e);
}
@media (max-width: 700px)
{
    .sentence__scale_block
    {
        width: 55%;
    }
}
@media (max-width: 500px)
{
    .sentence__scale_block
    {
        width: 58%;
    }
}
@media (max-width: 400px)
{
    .sentence__scale_block
    {
        width: 60%;
    }
}
.sentence__block
{
    margin-top: 25px; 
    padding: 20px 0;

    border: 1px solid #fff;
    border-radius: 15px;
    background: #f0f0f2;
}
.sentence__block p
{
    font-size: 14px;

    padding-bottom: 10px; 

    text-transform: uppercase;
}
.sentence__block span
{
    font-family: 'GothamProBold'; 
    font-size: 30px;
}
.sentence__block--padding
{
    margin-right: 20px;
}
@media (max-width: 767px)
{
    .sentence__block--padding
    {
        margin-right: 0;
    }
}
.sentence .btn
{
    font-size: 25px;

    position: relative;
    z-index: 10; 

    margin-top: 50px;
    margin-bottom: 70px;
    padding: 20px 50px;
}
@media (max-width: 400px)
{
    .sentence .btn
    {
        padding: 15px 30px;
    }
}
.sentence img
{
    position: relative;
    z-index: 11; 
    left: 65px;

    width: 100%;
}
@media (max-width: 1000px)
{
    .sentence img
    {
        top: 24%;
    }
}
@media (max-width: 767px)
{
    .sentence img
    {
        display: none;
    }
}

.about
{
    position: relative;
}
@media (max-width: 1100px)
{
    .about
    {
        padding-bottom: 70px;
    }
}
.about span
{
    font-family: 'GothamProBold';
    font-size: 170px;

    position: absolute;
    z-index: 1;
    top: 35px;
    right: 0;

    opacity: .1;
    color: #999;
}
@media (max-width: 767px)
{
    .about span
    {
        display: none;
    }
}
.about p
{
    font-size: 20px;
    font-weight: 300;
    line-height: 35px; 

    color: #333;
}
.about p b
{
    font-weight: 400;

    color: #000;
}
.about p:first-child
{
    padding-bottom: 50px;
}
.about img
{
    position: relative;
    top: -130px;

    width: 100%;
}
@media (max-width: 1024px)
{
    .about img
    {
        top: 0;
    }
}
@media (max-width: 767px)
{
    .about img
    {
        display: none;
    }
}

.advantages
{
    position: relative;
    z-index: 11; 

    padding-bottom: 70px;

    background: #f8f8f8;
}
.advantages span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: transparent; 
    background: linear-gradient(to right, #fff, #fff, #e6e7e8, #e6e6e8);
    -webkit-background-clip: text;
}
@media (max-width: 767px)
{
    .advantages span
    {
        display: none;
    }
}
.advantages__block
{
    margin-bottom: 20px; 
    padding: 40px;

    border: 2px solid #e7e7e7;
    border-radius: 20px;
}
@media (max-width: 450px)
{
    .advantages__block
    {
        padding: 15px;
    }
}
.advantages__block p
{
    font-size: 18px;

    display: inline-block; 

    padding-left: 30px;
}
.advantages__block img
{
    width: 90px;
    height: 90px;
}
@media (max-width: 400px)
{
    .advantages__block img
    {
        width: 70px;
        height: 70px;
    }
}
.advantages__block--margin
{
    margin-right: 15px;
}
@media (max-width: 767px)
{
    .advantages__block--margin
    {
        margin-right: 0;
    }
}

.client
{
    position: relative;

    background: #111;
}
.client .heading
{
    padding-bottom: 55px;
}
.client .heading h2
{
    color: #fff;
}
.client .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 35px;
    right: 0;

    color: transparent; 
    background: linear-gradient(to right, #0a0a0a, #0f0e0e, #1a1a1a);
    -webkit-background-clip: text;
}
@media (max-width: 1024px)
{
    .client .heading span
    {
        display: none;
    }
}
.client p
{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;

    padding-right: 30px;

    color: #999;
}
@media (max-width: 767px)
{
    .client p
    {
        padding-right: 0;
    }
}
.client__img
{
    position: relative;
    z-index: 11;
}
@media (max-width: 767px)
{
    .client__img
    {
        display: none;
    }
}
.client__img img
{
    width: 100%;
}
.client__app
{
    position: relative;

    padding-top: 90px;
}
.client__app a
{
    position: relative;

    display: inline-block;

    max-width: 200px; 
    margin-bottom: 20px;
    padding: 10px 20px;

    border-radius: 30px;
    background: #000;
}
.client__app a:hover
{
    box-shadow: 0 5px 20px 5px #222;
}
.client__app a span
{
    font-size: 18px;

    display: inline-block; 

    color: #fff;
}
.client__app a p
{
    font-size: 13px;
    line-height: 18px;

    display: inline; 

    padding-right: 0;

    color: #fff;
}
.client__app a img
{
    width: 30px;
    height: auto;
    padding-top: 4px;
}
.client__lng
{
    margin-bottom: 30px; 
    padding-top: 30px;
}
.client__lng a
{
    display: inline-block;

    margin-right: 20px;

    border-radius: 180px;
}
.client__lng img
{
    width: 25px;
}

.roadmap
{
    position: relative;

    padding-bottom: 80px; 

    background: #fff;
}
.roadmap .heading
{
    padding-bottom: 60px;
}
.roadmap .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    opacity: .1;
    color: #999;
}
@media (max-width: 800px)
{
    .roadmap .heading span
    {
        display: none;
    }
}

.function
{
    position: relative;

    padding-bottom: 90px; 

    background: #f8f8f8;
}
.function .heading
{
    padding-bottom: 60px;
}
@media (max-width: 1120px)
{
    .function .heading h2
    {
        font-size: 50px;
    }
}
@media (max-width: 767px)
{
    .function .heading h2
    {
        font-size: 35px;
    }
}
.function .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: #fff;
}
@media (max-width: 767px)
{
    .function .heading span
    {
        display: none;
    }
}
.function .h2 span
{
    color: transparent; 
    background: linear-gradient(to right, #fff, #e6e6e8);
    -webkit-background-clip: text;
}
@media (max-width: 1024px)
{
    .function img
    {
        width: 70%;
    }
}
@media (max-width: 767px)
{
    .function img
    {
        width: 100%;
    }
}
.function p
{
    font-size: 15px; 
    line-height: 30px;

    position: relative;

    padding-left: 25px;

    color: #03034b;
}
.function p span
{
    position: absolute;
    top: 7px;
    left: 0;

    width: 15px;
    height: 15px;

    border-radius: 60px;
    background: #000;
}
.function p .purple
{
    background: #3f4ab7;
}
.function p .green
{
    background: #54ca95;
}
.function p .blue
{
    background: #79d9ea;
}
.function p .lilac
{
    background: #9771d0;
}
.function p .yellow
{
    background: #ffd6c0;
}

.whitepaper
{
    position: relative;

    padding-bottom: 400px; 

    background: #fff;
}
.whitepaper .heading
{
    padding-bottom: 60px;
}
.whitepaper .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: #f7f7f8;
}
@media (max-width: 1024px)
{
    .whitepaper .heading span
    {
        display: none;
    }
}
.whitepaper p
{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;

    padding-bottom: 80px;
}
.whitepaper span
{
    font-weight: 300;

    padding-left: 30px; 

    color: #bab9b9;
}
@media (max-width: 767px)
{
    .whitepaper span
    {
        display: inline-block;

        padding-top: 40px;
    }
}
@media (max-width: 730px)
{
    .whitepaper span
    {
        line-height: 20px; 

        padding-left: 0;
    }
}
.whitepaper .btn
{
    position: relative;

    padding: 13px 45px; 
    padding-left: 75px;

    box-shadow: 0 10px 30px 3px #f0edfd;
}
.whitepaper .btn .icon-file-text2
{
    font-size: 25px; 

    position: absolute;
    top: 10px;
    left: 25px;
}

.roadshow
{
    position: relative;

    background: #131414;
}
.roadshow .heading
{
    padding-bottom: 60px;
}
.roadshow .heading h2
{
    color: #fff;
}
.roadshow .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: transparent; 
    background: linear-gradient(to right, #1a1a1a, #1a1a1a, #0a0a0a);
    -webkit-background-clip: text;
}
@media (max-width: 900px)
{
    .roadshow .heading span
    {
        display: none;
    }
}
.roadshow .container
{
    position: relative;
}

.advisors
{
    position: relative;

    background: #fff;
}
.advisors .heading
{
    padding-bottom: 60px;
}
.advisors .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: #f7f7f8;
}
@media (max-width: 1105px)
{
    .advisors .heading span
    {
        display: none;
    }
}
.advisors__block
{
    margin-bottom: 100px;
}
.advisors__block a
{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

    position: relative;

    display: inline-block;

    width: 100%; 

    color: #000;
}
.advisors__block b
{
    font-size: 12px;
    font-weight: 400;

    color: #999;
}
.advisors__block span
{
    display: block;

    width: 30px;
    height: 2px;
    margin: 20px 0; 

    background: #f0be9c;
}
.advisors__block .icon-linkedin
{
    position: absolute;
    bottom: 7px;

    padding-left: 10px;

    color: #999;
}
.advisors__block p
{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px; 

    width: 200px;

    color: #333;
}
@media (max-width: 767px)
{
    .advisors__block p
    {
        width: 100%;
    }
}
.advisors__block img
{
    width: 100%;
}
@media (max-width: 767px)
{
    .advisors__block img
    {
        width: 80%;
    }
}
@media (max-width: 450px)
{
    .advisors__block img
    {
        width: 100%;
    }
}

.team
{
    position: relative;

    background: #f8f8f8;
}
.team .heading
{
    padding-bottom: 60px;
}
.team .heading span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: transparent; 
    background: linear-gradient(to right, #fff, #fff, #fff, #f9f9fa, #e6e7e8);
    -webkit-background-clip: text;
}
@media (max-width: 1024px)
{
    .team .heading span
    {
        display: none;
    }
}
.team a
{
    display: inline-block;

    width: 80%; 
    margin-bottom: 30px;
}
.team a p
{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

    position: relative; 

    color: #000;
}
.team a b
{
    font-size: 12px;
    font-weight: 400;

    color: #999;
}
.team a span
{
    display: block;

    width: 30px;
    height: 2px;
    margin: 20px auto; 

    background: #f0be9c;
}
.team a .icon-linkedin
{
    position: absolute;
    bottom: 7px;

    padding-left: 10px;

    color: #999;
}
.team a img
{
    max-width: 150px;
}
@media (max-width: 767px)
{
    .team a img
    {
        width: 100%; 
        max-width: 50%;
    }
}
@media (max-width: 420px)
{
    .team a img
    {
        max-width: 150px;
    }
}

.faq
{
    position: relative;

    padding-bottom: 70px; 

    background: #fff;
}
.faq span
{
    font-family: 'GothamProBold';
    font-size: 160px;

    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0;

    color: #f7f7f8;
}
@media (max-width: 767px)
{
    .faq span
    {
        display: none;
    }
}
.faq__block
{
    border-bottom: 1px solid #ddd;
}
.faq__block a
{
    position: relative;

    display: inline-block;

    box-sizing: border-box; 
    width: 100%;
    padding: 15px 0;
    padding-right: 70px;

    color: #000;
}
.faq__block a .icon-chevron-thin-down
{
    position: absolute;
    top: 38%;
    right: 20px;

    transition: all .3s;

    color: #4d2ce0;
}
.faq__block p
{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px; 

    padding: 15px 0;

    color: #999;
}
.faq__block--one
{
    border-top: 1px solid #ddd;
}
.faq .btn
{
    font-size: 15px; 

    margin-top: 35px;
    padding: 17px 50px;

    color: #fff;
    border: 2px solid #000;
    background: #000;
}
.faq .btn:hover
{
    color: #000; 
    background: none;
}

.faq__block.active .icon-chevron-thin-down
{
    transform: rotate(180deg);

    color: #999;
}
