.wrap
{
    width: 100%; 
    height: 250px;
    margin-top: 150px;
}
.wrap__block
{
    position: relative;

    width: 100%;
    height: 350px;

    list-style: none;

    background: url('../img/ellipse.png') no-repeat;
    background-size: contain;
}
.wrap__block span
{
    position: absolute;

    margin-top: 10px; 

    cursor: pointer;
    transition: all .6s;

    opacity: 0;
}
.wrap__block span.active
{
    z-index: 999;
    top: 0; 
    left: 45%;

    opacity: 1;
}
.wrap__block span.left2
{
    top: -20px; 
    left: 20%;

    transform: perspective(600px) translateX(-160%) rotateY(-40deg) scale(.5);

    opacity: 1;
    opacity: .4;
}
.wrap__block span.left2 p
{
    opacity: 0;
}
.wrap__block span.left1
{
    top: -10px; 
    left: 30%;

    transform: translateX(-102%) rotateY(-20deg) scale(.8);

    opacity: 1;
}
.wrap__block span.left1 p
{
    opacity: 0;
}
.wrap__block span.right1
{
    top: -10px; 
    right: 30%;

    transform: translateX(102%) rotateY(20deg) scale(.8);

    opacity: 1;
}
.wrap__block span.right1 p
{
    opacity: 0;
}
.wrap__block span.right2
{
    top: -20px; 
    right: 20%;

    transform: perspective(600px) translateX(160%) rotateY(40deg) scale(.5);

    opacity: 1;
    opacity: .4;
}
.wrap__block span.right2 p
{
    opacity: 0;
}
.wrap__block span h4
{
    font-size: 23px;

    position: relative;

    padding-bottom: 15px;
}
.wrap__block span h4:before
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 30px;
    height: 3px;

    content: '';

    background: #d9b48d;
}
.wrap__block span h4 p
{
    font-family: 'GothamProBold'; 
    font-size: 90px;

    position: absolute;
    top: -65px;
    left: 0;

    opacity: .1;
    color: #333;
}
.wrap__block span ul
{
    padding-top: 15px; 
    padding-left: 17px;

    list-style-type: disc;

    color: #666;
}
.wrap__block span ul li
{
    font-size: 15px;
    line-height: 25px; 

    color: #666;
}
.wrap__next
{
    width: 100%;
    height: 30px;

    cursor: pointer; 

    background: url('../img/next.png') no-repeat;
    background-position-x: center;
}
.wrap__prev
{
    width: 100%;
    height: 30px;

    cursor: pointer; 

    background: url('../img/prev.png') no-repeat;
    background-position-x: center;
}

.roadshow #swiper-2
{
    max-width: 1000px;
    padding-bottom: 190px;
}
.roadshow #swiper-2 .swiper-slide
{
    font-size: 18px;

    background: #131414;
}
.roadshow #swiper-2 .swiper-slide h4
{
    font-family: 'GothamProMedium';
    font-size: 40px;

    padding-bottom: 10px; 

    color: #fff;
}
.roadshow #swiper-2 .swiper-slide p
{
    font-size: 15px;
    font-weight: 400;

    padding-bottom: 15px; 

    color: #777;
}
.roadshow #swiper-2 .swiper-slide__block
{
    width: 100%; 

    border-radius: 20px;
    background: #fff;
}
.roadshow #swiper-2 .swiper-slide__block img
{
    width: 100%;

    border-top-left-radius: 17px; 
    border-top-right-radius: 17px;
}
.roadshow #swiper-2 .swiper-slide__block p
{
    font-size: 20px;

    width: 190px; 
    padding-top: 20px;
    padding-left: 25px;

    color: #000;
}
.roadshow #swiper-2 .swiper-slide__block span
{
    font-size: 14px;

    display: inline-block; 

    padding-left: 25px;

    text-transform: uppercase;

    color: #532dff;
}
.roadshow #swiper-2 .swiper-slide__block a
{
    position: relative;
    top: -10px; 
    left: -10px;

    display: inline-block;
}
.roadshow #swiper-2 .swiper-slide__block a img
{
    width: 40px;
    height: 40px;
}

.roadshow .swiper-button-prev,
.roadshow .swiper-button-next
{
    top: 58%;

    background: none;
}
@media (max-width: 1024px)
{
    .roadshow .swiper-button-prev,
    .roadshow .swiper-button-next
    {
        display: none;
    }
}

.roadshow .icon-chevron-thin-left
{
    font-size: 55px; 

    color: #fff;
}

.roadshow .icon-chevron-thin-right
{
    font-size: 55px; 

    color: #fff;
}

.roadshow .swiper-container-horizontal > .swiper-pagination-bullets,
.roadshow .swiper-pagination-custom,
.roadshow .swiper-pagination-fraction
{
    bottom: 80px;
}

.roadshow .swiper-pagination-bullet
{
    width: 9px;
    height: 9px; 

    background: #fff;
}

.roadshow .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin-left: 20px;
}

.roadshow .swiper-pagination-bullet-active
{
    background: #fff;
}
