@media (max-width: 1180px)
{
    .demo-wrap
    {
        display: none;
    }
}

.slide-wrap
{
    width: 100%; 
    height: 250px;
    margin-top: 50px;
}
.slide-wrap__block
{
    position: absolute;
    bottom: -160px;

    width: 96%;
    height: 350px;

    list-style: none;

    background: url('../img/ellipse.png') no-repeat;
    background-size: contain;
}

.slide-wrap
{
    position: relative; 

    width: 100%;
}
.slide-wrap li
{
    position: absolute;
    z-index: 0; 

    display: none;

    width: 300px;
}
.slide-wrap .inner
{
    position: relative;
}
.slide-wrap .inner h4
{
    font-size: 23px;

    position: relative;

    padding-top: 60px; 
    padding-bottom: 15px;
}
.slide-wrap .inner h4:before
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 30px;
    height: 3px;

    content: '';

    background: #d9b48d;
}
.slide-wrap .inner h4 p
{
    font-family: 'GothamProBold'; 
    font-size: 90px;

    position: absolute;
    top: 0;
    left: 0;

    opacity: .1;
    color: #333;
}
.slide-wrap .inner ul
{
    padding-top: 15px; 

    color: #666;
}
.slide-wrap .inner ul li
{
    font-size: 15px;
    line-height: 20px; 

    position: relative;
    position: relative;

    display: block !important;

    padding-left: 17px;

    color: #666;
}
.slide-wrap .inner ul li:after
{
    position: absolute;
    top: 8px; 
    left: 0;

    width: 4px;
    height: 4px;

    content: '';

    border-radius: 180px;
    background: #666;
}
.slide-wrap .pos1
{
    z-index: 1; 
    top: 0;
    left: 3%;

    display: block;

    width: 180px;
    height: 200px;
}
.slide-wrap .pos2
{
    z-index: 2; 
    top: 35px;
    left: 24%;

    display: block;

    width: 220px;
    height: 200px;
}
.slide-wrap .pos3
{
    z-index: 3; 
    top: 50px;
    left: 45%;

    display: block;

    width: 300px;
    height: 200px;
}
.slide-wrap .pos4
{
    z-index: 2; 
    top: 35px;
    right: 15%;

    display: block;

    width: 220px;
    height: 200px;
}
.slide-wrap .pos5
{
    z-index: 1; 
    top: 0;
    right: 0;

    display: block;

    width: 180px;
    height: 200px;
}

.arrow
{
    position: absolute;
    z-index: 10;
    top: 160px;

    width: 48px;
    height: 48px;

    cursor: pointer;
}

.prev
{
    position: absolute;
    top: 300px;
    left: 0;

    width: 50%;
    height: 40px;

    background: url('../img/prev.png') no-repeat;
    background-position-x: center;
}

.next
{
    position: absolute;
    top: 300px;
    right: 0;

    width: 50%;
    height: 40px;

    background: url('../img/next.png') no-repeat;
    background-position-x: center;
}

.roadmap #swiper-1
{
    display: none; 

    max-width: 1000px;
}
@media (max-width: 1180px)
{
    .roadmap #swiper-1
    {
        display: block;
    }
}
.roadmap #swiper-1 .swiper-slide
{
    font-size: 18px;

    box-sizing: border-box; 
    padding-left: 70px;
}
@media (max-width: 900px)
{
    .roadmap #swiper-1 .swiper-slide
    {
        padding-left: 50px;
    }
}
@media (max-width: 767px)
{
    .roadmap #swiper-1 .swiper-slide
    {
        padding-left: 70px;
    }
}
.roadmap #swiper-1 .swiper-slide h4
{
    font-size: 23px;

    position: relative;

    padding-top: 60px;
    padding-right: 50px; 
    padding-bottom: 15px;
}
.roadmap #swiper-1 .swiper-slide h4:before
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 30px;
    height: 3px;

    content: '';

    background: #d9b48d;
}
.roadmap #swiper-1 .swiper-slide h4 p
{
    font-family: 'GothamProBold'; 
    font-size: 90px;

    position: absolute;
    top: 0;
    left: 0;

    opacity: .1;
    color: #333;
}
.roadmap #swiper-1 .swiper-slide ul
{
    padding-top: 15px; 

    color: #666;
}
.roadmap #swiper-1 .swiper-slide ul li
{
    font-size: 15px;
    line-height: 20px; 

    position: relative;
    position: relative;

    display: block !important;

    padding-left: 17px;

    color: #666;
}
.roadmap #swiper-1 .swiper-slide ul li:after
{
    position: absolute;
    top: 8px; 
    left: 0;

    width: 4px;
    height: 4px;

    content: '';

    border-radius: 180px;
    background: #666;
}

.roadmap .swiper-button-prev,
.roadmap .swiper-button-next
{
    top: 80%;

    display: none; 

    background: none;
}
@media (max-width: 1180px)
{
    .roadmap .swiper-button-prev,
    .roadmap .swiper-button-next
    {
        display: block;
    }
}

.roadmap .swiper-button-next
{
    right: 35px;
}

.roadmap .icon-chevron-thin-left
{
    font-size: 55px;
}

.roadmap .icon-chevron-thin-right
{
    font-size: 55px;

    padding-right: 40px;
}

.roadshow #swiper-2
{
    max-width: 1000px;
    padding-bottom: 190px;
}
.roadshow #swiper-2 .swiper-slide
{
    font-size: 18px;

    background: #131414;
}
.roadshow #swiper-2 .swiper-slide h4
{
    font-family: 'GothamProMedium';
    font-size: 40px;

    padding-bottom: 10px; 

    color: #fff;
}
.roadshow #swiper-2 .swiper-slide p
{
    font-size: 15px;
    font-weight: 400;

    padding-bottom: 15px; 

    color: #777;
}
.roadshow #swiper-2 .swiper-slide__block
{
    width: 100%; 

    border-radius: 20px;
    background: #fff;
}
.roadshow #swiper-2 .swiper-slide__block img
{
    width: 100%;

    border-top-left-radius: 17px; 
    border-top-right-radius: 17px;
}
.roadshow #swiper-2 .swiper-slide__block p
{
    font-size: 20px;

    width: 190px; 
    padding-top: 20px;
    padding-left: 25px;

    color: #000;
}
.roadshow #swiper-2 .swiper-slide__block span
{
    font-size: 14px;

    display: inline-block; 

    padding-left: 25px;

    text-transform: uppercase;

    color: #532dff;
}
.roadshow #swiper-2 .swiper-slide__block a
{
    position: relative;
    top: -10px; 
    left: -10px;

    display: inline-block;
}
.roadshow #swiper-2 .swiper-slide__block a img
{
    width: 40px;
    height: 40px;
}

.roadshow .swiper-button-prev,
.roadshow .swiper-button-next
{
    top: 58%;

    background: none;
}
@media (max-width: 1024px)
{
    .roadshow .swiper-button-prev,
    .roadshow .swiper-button-next
    {
        display: none;
    }
}

.roadshow .icon-chevron-thin-left
{
    font-size: 55px; 

    color: #fff;
}

.roadshow .icon-chevron-thin-right
{
    font-size: 55px; 

    color: #fff;
}

.roadshow .swiper-container-horizontal > .swiper-pagination-bullets,
.roadshow .swiper-pagination-custom,
.roadshow .swiper-pagination-fraction
{
    bottom: 80px;
}

.roadshow .swiper-pagination-bullet
{
    width: 9px;
    height: 9px; 

    background: #fff;
}

.roadshow .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin-left: 20px;
}

.roadshow .swiper-pagination-bullet-active
{
    background: #fff;
}
