extends include/layout.pug
block content
	section.sentence
		.container
			.row
				.col-xs-8
					h1 Initial Coin Offering Pre-sale Started
					p Bonus Expires In:
					.sentence__timer
						.row
							.col-xs-12
								span 20 : 11 : 18 : 59
							.col-xs-12.flex
								b Days
								b Hours
								b Minutes
								b Seсs
							.col-xs-12.end-xs
								p Goal $1,000,000 (1,5 Million UNT)
					.row
						.col-xs-12
							.sentence__scale
								p $834,343 Raised
								span 49%
								.sentence__scale_block
						.col-xs-4.center-xs
							.sentence__block.sentence__block--padding
								p Current bonus
								span 40%
						.col-xs-4.center-xs
							.sentence__block.sentence__block--padding
								p min commitment
								span 0.5 ETH
						.col-xs-4.center-xs
							.sentence__block
								p gas limit
								span 40%
						.col-xs-12
							a(href="#").btn Contribute Now
				.col-xs-4.end-xs
					img(src="img/sentence.png", alt="")
	section.about
		.container
			.row
				.col-xs-12
					.heading
						h2 What is Unilot
						span Who we are
				.col-xs-5
					p <b>Unilot</b> is Decentralized Lottery Based on<br> <b>Ethereum Smart Contracts.</b><br>The maximum amount of raised funding is $12 000 000. This will help to speed up the expansion of the project, increase the amount of guaranteed prize fund and accelerate the launch of new drawings. <b>Unilot</b> is Decentralized Lottery Based on <b>Ethereum Smart Contracts.</b>
					p The maximum amount of raised funding is $12 000 000. This will help to speed up the expansion of the project, increase the amount of guaranteed prize fund and accelerate the launch of new drawings.
				.col-xs-7
					img(src="img/about.png", alt="")
	section.advantages
		.container
			.row
				.col-xs-12
					.heading
						h2 Unilot Benefits
						span Benefits
				.col-xs-6
					.advantages__block.advantages__block--margin.flex.middle-xs
						img(src="img/01.svg", alt="")
						p Unilot will not access or hold any Player Funds
				.col-xs-6
					.advantages__block.flex.middle-xs
						img(src="img/02.svg", alt="")
						p Consensus of game state is reached between players with encrypted P2P messaging
				.col-xs-6
					.advantages__block.advantages__block--margin.flex.middle-xs
						img(src="img/03.svg", alt="")
						p Play games globally or make money by hosting your own game tournaments
				.col-xs-6
					.advantages__block.flex.middle-xs
						img(src="img/04.svg", alt="")
						p Feature Single player RNG & Multiplayer games
				.col-xs-6
					.advantages__block.advantages__block--margin.flex.middle-xs
						img(src="img/05.svg", alt="")
						p Decintrilized and isolated to prevent God Mode
				.col-xs-6
					.advantages__block.flex.middle-xs
						img(src="img/06.svg", alt="")
						p Unilot platform can be Whitelabeled
	section.client
		.container
			.row
				.col-xs-12
					.heading
						h2 Mobile Client
						span Mobile App
				.col-xs-7
					p Unilot Mobile Client will be available on iOS and Android platforms. Unilot mobile will support multiple regions, languages offered English, Russian and German
			.row
				.col-xs-5
					.client__app
						.row
							.col-xs-6
								a(href="#")
									img(src="img/google-play.svg", alt="")
									p Download on the
									span Google Play
							.col-xs-6
								a(href="#")
									img(src="img/apple.svg", alt="")
									p Download on the
									span App Store
					.client__lng
						a(href="#")
							img(src="img/spain.svg", alt="")
						a(href="")
							img(src="img/china.svg", alt="")
						a(href="")
							img(src="img/russia.svg", alt="")
						a(href="")
							img(src="img/united-kingdom.svg", alt="")
						a(href="")
							img(src="img/germany.svg", alt="")
				.col-xs-7
					.client__img
						img(src="img/client.png", alt="")
	section.advisors
		.container
			.row
				.col-xs-12
					.heading
						h2 Advisors
						span Our Advisors
			.row
				.col-xs-4
					.advisors__block
						.row
							.col-xs-5
								img(src="img/advisors/Council.png", alt="")
							.col-xs-7
								a(href="#") COUNCIL
									i.icon-linkedin
								b Legal issues partner
								span
								p The company works in a partnership agreement with a number of leading legal companies of Russia, Europe, the USA, and South Korea. 
				.col-xs-4
					.advisors__block
						.row
							.col-xs-5
								img(src="img/advisors/Timur-Mukminov.png", alt="")
							.col-xs-7
								a(href="#") Timur Mukminov
									i.icon-linkedin
								b International Relations and Business  Intelligence advisor
								span
								p Business Process Advisor: Program Portfolio & Tech. Project Management, Infrastructure, Agile, Global Eng. Management; ex-Program Manager Network Operations at Google Inc. 
				.col-xs-4
					.advisors__block
						.row
							.col-xs-5
								img(src="img/advisors/Sergey-Skabelkin.png", alt="")
							.col-xs-7
								a(href="#") Sergey Skabelkin
									i.icon-linkedin
								b Strategic product development advisor
								span
								p Blockchain Evangelist, Co-founder of FinTechCluster, Mobile wallet and online service enterprise architect, CEO of playhall.io
				.col-xs-4
					.advisors__block
						.row
							.col-xs-5
								img(src="img/advisors/Azamat-Kurbanov.png", alt="")
							.col-xs-7
								a(href="#") Azamat Kurbanov
									i.icon-linkedin
								b Marketing advisor
								span
								p Co-founder of telegraf.money who successfully led preICO worth $7 000 000. A self-starter and successful entrepreneur, more than 10 years experience on marketing and creating multimillion worth companies.
				.col-xs-4
					.advisors__block
						.row
							.col-xs-5
								img(src="img/advisors/Bagrinovski-Bogdan.png", alt="")
							.col-xs-7
								a(href="#") Bagrinovski Bogdan
									i.icon-linkedin
								b Expert in Blockchain Loterry
								span
								p More then 10 year experience in Auction and Lottery business, creating brands like Intuitsia, Credsberry etc. 
				.col-xs-4
					.advisors__block
						.row
							.col-xs-5
								img(src="img/advisors/Bakhram-Fayzutdinov.png", alt="")
							.col-xs-7
								a(href="#") Bakhram Fayzutdinov
									i.icon-linkedin
								b Mobile product development and promotion advisor
								span
								p Founder of Amayasoft company, head of MyBookTools technology development. More than 10 years on programming, product management and business development.


	section.team
		.container
			.row
				.col-xs-12
					.heading
						h2 Team
						span Unilot Team
			.row.center-xs
				.col-xs-3
					a(href="#")
						img(src="img/team/Ilya-Son.png", alt="")
						p Ilya Son
							i.icon-linkedin
						b Founder
						span
				.col-xs-3
					a(href="#")
						img(src="img/team/Alexander-Lushnikov.png", alt="")
						p Alexander Lushnikov
							i.icon-linkedin
						b Smart contracts developer
						span
				.col-xs-3
					a(href="#")
						img(src="img/team/Arseniy-Aganov.png", alt="")
						p Arseniy Aganov
							i.icon-linkedin
						b Senior Android developer
						span
				.col-xs-3
					a(href="#")
						img(src="img/team/Shovkat-Kukanbaev.png", alt="")
						p Shovkat Kukanbaev
							i.icon-linkedin
						b UI/UX Designer
						span
				.col-xs-3
					a(href="#")
						img(src="img/team/Darya-Kadirova.png", alt="")
						p Darya Kadirova
							i.icon-linkedin
						b Marketing manager
						span
				.col-xs-3
					a(href="#")
						img(src="img/team/Azat-Khuziyakhmetov.png", alt="")
						p Azat Khuziyakhmetov
							i.icon-linkedin
						b Backend developer
						span
				.col-xs-3
					a(href="#")
						img(src="img/team/Bakhodir-Ashirmatov.png", alt="")
						p Bakhodir Ashirmatov
							i.icon-linkedin
						b Senior iOS developer
						span
				.col-xs-3
					a(href="#")
						img(src="img/team/Daniel-Khalupskiy.png", alt="")
						p Daniel Khalupskiy
							i.icon-linkedin
						b PR
						span
	section.faq
		.container
			.row
				.col-xs-12
					.heading
						h2 FAQ's
						span FAQ's
				.col-xs-5
					.faq__block.faq__block--one
						a(onclick="$('#name1').slideToggle('slow');" href="javascript://") Is Unilot licensed online gambling site?
							i.icon-chevron-thin-down
						p(style='display:none')#name1 Sales are officially OPEN now, you can message me anytime if you have poblem or questions. It's Beta version of apps so please send me any comment that you have or saw. Let's get ready to rumble
					.faq__block
						a(onclick="$('#name2').slideToggle('slow');" href="javascript://") What makes Unilot different from all other competitors?
							i.icon-chevron-thin-down
						p(style='display:none')#name2 Sales are officially OPEN now, you can message me anytime if you have poblem or questions. It's Beta version of apps so please send me any comment that you have or saw. Let's get ready to rumble
					.faq__block
						a(onclick="$('#name3').slideToggle('slow');" href="javascript://") Why the use of blockchain?
							i.icon-chevron-thin-down
						p(style='display:none')#name3 Sales are officially OPEN now, you can message me anytime if you have poblem or questions. It's Beta version of apps so please send me any comment that you have or saw. Let's get ready to rumble
					.faq__block
						a(onclick="$('#name4').slideToggle('slow');" href="javascript://") Will U.S. Citizens be able to participate?
							i.icon-chevron-thin-down
						p(style='display:none')#name4 Sales are officially OPEN now, you can message me anytime if you have poblem or questions. It's Beta version of apps so please send me any comment that you have or saw. Let's get ready to rumble
					.faq__block
						a(onclick="$('#name5').slideToggle('slow');" href="javascript://") How can I participate?
							i.icon-chevron-thin-down
						p(style='display:none')#name5 Sales are officially OPEN now, you can message me anytime if you have poblem or questions. It's Beta version of apps so please send me any comment that you have or saw. Let's get ready to rumble
					.faq__block
						a(onclick="$('#name6').slideToggle('slow');" href="javascript://") Is Unilot licensed online gambling site?
							i.icon-chevron-thin-down
						p(style='display:none')#name6 Sales are officially OPEN now, you can message me anytime if you have poblem or questions. It's Beta version of apps so please send me any comment that you have or saw. Let's get ready to rumble
					a(href="#").btn Show all FAQ topics
					






