@import "color.sass" 
.slideout-menu
	position: fixed
	z-index: 8
	top: 0
	bottom: 0
	display: none 
	overflow-y: scroll
	width: 256px
	min-height: 100vh
	-webkit-overflow-scrolling: touch
	background: #181a22
	// хром, сафари
	&::-webkit-scrollbar
		width: 0
	-ms-overflow-style: none
	overflow: -moz-scrollbars-none
.slideout-menu-right
	right: 0
	overflow-x: hidden
	ul
		list-style: none
		padding-left: 10px
		padding-top: 55px
	li
		padding-top: 35px
		padding-left: 25px
		&:last-child
			border-top: 2px solid #333333
			border-bottom: 2px solid #333333
			width: 100%
			position: relative
			padding: 0
			left: -5px
			margin-top: 10px
			select
				width: 100%
				height: 56px
				position: reative
				border: none
				cursor: pointer
				opacity: 0
				filter: alpha(opacity = 0)
			p
				position: absolute
				left: 30px
				top: 20px
				font-size: 18px
				color: #cdcdcd
				font-family: "GothamProRegular"
				overflow: hidden
			.icon-arrow_drop_down
				font-size: 25px
				position: absolute
				top: 16px
				right: 10px
	a
		color: #cdcdcd
		font-size: 25px
		font-weight: 100
		transition: all 0.3s
		&:hover
			color: #502ee1
		.icon-arrow_drop_down
			position: relative
			top: 4px
.slideout-menu-left
	left: 0
.slideout-panel
	position: relative
	z-index: 9
	min-height: 100vh 
	background-color: #fff
	will-change: transform
.slideout-open
	overflow: hidden
.slideout-open body,
.slideout-open .slideout-panel
	overflow: hidden
.slideout-open .slideout-menu
	display: block
.panel:before 
	content: ''
	display: block
	background-color: rgba(0,0,0,0)
	transition: background-color 0.5s ease-in-out
.panel-open:before 
	content: ''
	position: absolute
	top: 0
	bottom: 0
	width: 100%
	background-color: rgba(0,0,0,.5)
	z-index: 999
#btn
	display: block
	width: 36px
	height: 20px
	padding-top: 20px
	cursor: pointer
	span
		&:after, &:before
			content: ""
			position: absolute
			left: 0
			top: -10px
		&:after
			top: 10px
			width: 36px
			height: 5px
			background-color: #6c52e3
			transition: all 0.3s
			border-radius: 7px
			backface-visibility: hidden
		position: relative
		display: block
		width: 36px
		height: 5px
		background-color: #8161eb
		transition: all 0.3s
		backface-visibility: hidden
		border-radius: 7px
		&:before
			width: 36px
			border-radius: 7px
			height: 5px
			background-color: #ac8ff3
			transition: all 0.3s
			backface-visibility: hidden
body.on
	#btn, .sentence__social
		display: none

.menu-close
	position: absolute
	top: 20px
	right: 10%
	width: 40px
	height: 40px
	cursor: pointer
	span
		background-color: transparent
		position: relative
		top: 20px
		&:after, &:before
			content: ""
			position: absolute
			left: 0
			top: -10px
		&:after
			content: ''
			top: 10px
			width: 36px
			height: 5px
			background-color: $gray
			transition: all 0.3s
			backface-visibility: hidden
			border-radius: 2px
			transform: rotate(-45deg) translate(9px, -8px)
		&:before
			content: ''
			transform: rotate(45deg) translate(6px, 5px)
			width: 36px
			height: 5px
			background-color: $gray
			transition: all 0.3s
			backface-visibility: hidden
			border-radius: 2px
.top-line-anchor
	display: inline-block
	position: absolute
	top: 50px
	left: 40px
@media(max-width: 1024px)
	.header
		ul
			display: none
		&__left
			display: none
	.top-line-anchor
		top: 40px
		left: 30px



















.header
	padding: 40px 0
	font-family: "GothamProRegular"
	background: $light-gray
	li
		a
			font-size: 15px
			color: $black
	&__left
		a
			font-size: 18px
			display: inline-block
		&__lng
			border: 2px solid $white
			width: 100%
			border-radius: 60px
			position: relative
			transition: all 0.3s
			&:hover
				background: $lilac
			select
				width: 100%
				height: 56px
				position: reative
				border: none
				cursor: pointer
				opacity: 0
				filter: alpha(opacity = 0)
			p
				position: absolute
				left: 30px
				top: 20px
				font-size: 18px
				color: $black
				font-family: "GothamProRegular"
				overflow: hidden
			.icon-arrow_drop_down
				font-size: 25px
				position: absolute
				top: 16px
				right: 10px

